@use "global" as *;

.blog-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  background-color: $white;
}

.blog-card__link {
  cursor: pointer;
  transition: 0.3s opacity;
}

.blog-card__link:hover {
  opacity: 0.8;
}

.blog-card__wrap {
  padding: rem(17) rem(16) rem(21);
  @include mq("md") {
    padding: rem(16) rem(16) rem(20) rem(16);
  }
}

.blog-card__img {
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

.blog-card__content {
  margin-top: rem(21);
}

.blog-card__date {
  margin-left: rem(1);
  font-size: rem(12);
  line-height: calc(rem(18) / rem(12));
  @include mq("md") {
    margin-left: rem(-1);
  }
}

.blog-card__title {
  font-size: rem(16);
  font-weight: 600;
  line-height: rem(24) / rem(16);
  padding-bottom: rem(1);
  border-bottom: rem(1) solid $emerald;
  @include mq("md") {
    margin-top: rem(2);
    padding-bottom: 0;
  }
}

.blog-card__text {
  margin-top: rem(18);
  padding-right: rem(1);
  font-size: rem(16);
  line-height: rem(24) / rem(16);
}
