@use "global" as *;

.blog__inner {
  position: relative;
  z-index: 500;
}

.blog__bg {
  display: none;
  @include mq("md") {
    display: block;
    position: absolute;
    z-index: 1;
    top: rem(0);
    left: 0;
  }
}

.blog__bg::before {
  content: none;
  @include mq("md") {
    position: absolute;
    content: "";
    background-image: url(../images/common/blog-bg2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: rem(437);
    height: rem(201);
    z-index: 500;
    top: rem(24);
    left: rem(100);
  }
}

.blog__content {
  margin: 0 auto;
  margin-top: rem(24);
  max-width: rem(333);
  @include mq("md") {
    margin-top: rem(77);
    margin: rem(24) 0 0 0 ;
  }
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  gap: rem(40);
  @include mq("md") {
    grid-template-columns: repeat(3, minmax(333px, 3fr));
    gap: rem(40);
  }
}

.blog__btn {
  margin-top: rem(40);
  margin-left: rem(-3);
  @include mq ("md") {
      margin-top: rem(80);
      margin-left: rem(-6);
  }
}
