@use "global" as *;

.footer {
  background-color: $emerald;
}

.footer__head {
  @include mq("md") {
    display: flex;
  }
}

.footer__logo {
  width: calc(rem(120) / rem(345) * 100%);
  @include mq("md") {
    width: calc((rem(200) / rem(1080) * 100%));
  }
}

.footer__logo-img {
  aspect-ratio: 120 / 45;
  object-fit: cover;
}

.footer__sns {
  margin-top: rem(17);
  margin-left: rem(2);
  display: flex;
  @include mq("md") {
    margin-bottom: rem(8);
    margin-top: rem(41);
    margin-left: rem(41);
  }
}

.footer__sns-facebook,
.footer__sns-instagram {
  width: rem(20);
  @include mq ("md") {
      width: rem(30);
  }
}

.footer__sns-instagram {
  margin-left: rem(20);
  @include mq ("md") {
      margin-left: rem(18);
  }
}

.footer__sns-facebook img,
.footer__sns-instagram img {
  aspect-ratio: 24 /24;
  object-fit: cover;
  @include mq ("md") {
      aspect-ratio: 32 / 32;
  }
}

.footer__menu {
  display: flex;
  padding: rem(39) rem(0) 0 0;
  @include mq("md") {
    padding: rem(18) 0 rem(75);
  }
}

.footer__left,
.footer__right {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.footer__right {
  margin-left: rem(15);
  @include mq ("md") {
      margin-left: rem(116);
  }
}

.footer__list:nth-child(2n) {
  @include mq("md") {
    margin-left: rem(120);
  }
}

.footer__list.footer__list--second .footer__link {
  margin-left: 0;
}

.footer__link {
  margin-top: rem(16);
  margin-left: rem(2);
  padding: rem(5) 0;
  display: block;
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: normal;
}

.footer__left .footer__link.footer__link--first,
.footer__right .footer__link.footer__link--first {
  margin-top: 0;
}

.footer__left .footer__link.footer__link--pc,
.footer__right .footer__link.footer__link--pc {
  @include mq("md") {
    margin-top: 0;
  }
}

.footer__link.footer__link--main {
  position: relative;
  margin-top: rem(32);
  margin-left: rem(0);
}

.footer__link.footer__link--main::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/hitode.png);
  background-size: contain;
  left: rem(-22);
  top: 50%;
  transform: translateY(-50%);
}

.footer__link-text.footer__link-text--main {
  font-weight: bold;
}

.footer__item {
  padding-left: rem(22);
}

.footer__item.header__footer-item--contact a::after {
  content: "";
  margin-bottom: prem(5);
  margin-left: prem(20);
  width: prem(15);
  height: prem(15);
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer__copyright {
  margin-top: rem(39);
  display: block;
  font-size: rem(12);
  line-height: calc(rem(18) / rem(12));
  white-space: nowrap;
  color: $white;
  text-align: center;
  @include mq ("md") {
    margin-top: 0;
      font-size: rem(14);
  }
}
