@use "global" as *;

.page-top {
    padding-top: rem(15);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(48);
    height: rem(48);
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50%;
    background-color: $white;
    border: rem(1) solid $emerald;
    cursor: pointer;
    transition: .3s background-color;
    z-index: 9999;
    @include mq ("md") {
        width: rem(80);
        height: rem(80);
    }
}

.page-top:hover {
    background-color: $emerald;
}

.page-top::before {
    content: "";
    position: absolute;
    top: rem(10);
    left: 50%;
    width: rem(10);
    height: rem(10);
    border-top: rem(1) solid $emerald;
    transform: translateX(-50%) rotate(-45deg);
    transition: .3s border-top;
    @include mq ("md") {
        top: rem(20);
    }
}

.page-top:hover::before {
    border-top: rem(1) solid $white;
}

.page-top::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: rem(1);
    height: rem(28);
    background-color: $emerald;
    transition: .3s background-color;
    @include mq ("md") {
        height: rem(40);
    }
}

.page-top:hover:after {
    background-color: $white;
}